@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Lora', serif;
    background-color: #F5F3E7; /* Soft beige background */
    color: #333; /* Charcoal color */
    margin: 0;
    padding: 0;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

.font-lora {
    font-family: 'Lora', serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 2s ease-out forwards;
}

.fade-in-up.delay-1 {
    animation-delay: 1s;
}

.fade-in-up.delay-2 {
    animation-delay: 2s;
}

.font-playfair-display {
    font-family: 'Playfair Display', serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-beige {
    background-color: #F5F3E7;
}

.text-dark-brown {
    color: #4A2C2A;
}

.btn-custom-main {
    background-color: #222E35;
    color: white;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-custom-main:hover {
    background-color: #1A242A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header and footer link hover animations */
.nav-link, .footer-link {
position: relative;
display: inline-block;
padding-bottom: 4px;
transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:before, .footer-link:before {
content: '';
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: white;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.nav-link:hover:before, .footer-link:hover:before {
visibility: visible;
transform: scaleX(1);
}

.nav-link:hover, .footer-link:hover {
color: white;
transform: translateY(-3px);
}

.loaded body {
    opacity: 1;
}

.sticky-nav {
    background-color: #4A2C2A; /* Dark brown background for sticky nav */
}

.btn-custom {
background-color: #C07248;
color: white;
border-radius: 1.5rem;
padding: 0.5rem 1rem;
font-size: 1rem;
text-transform: uppercase;
transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-custom:hover {
background-color: #A05D37;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-custom:focus {
outline: none;
box-shadow: 0 0 0 3px rgba(192, 114, 72, 0.5);
}


.bg-dark-brown {
background-color: #4A2C2A;
}

.footer a {
transition: color 0.3s ease;
}

.footer a:hover {
color: #B33F40;
}

.footer i {
transition: color 0.3s ease;
}

.footer i:hover {
color: #B33F40;
}